*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$boxColor:#0ff7;
$rotateSpeed:45s;
$bounceSpeed:4.5s;


body{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);
}

.scene{
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate $rotateSpeed infinite linear;


}

@keyframes sceneRotate{
    to {
        transform: rotateY(360deg);
    }
}

.ball{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(111, 116, 117);
    position: absolute;
    left: -0.5em;
    bottom: 1em;
    transform-style: preserve-3d;
    background: radial-gradient(
        circle at top,
        lightblue,
        #000
    );

    animation:
    ballBounce $bounceSpeed infinite ease-out,
    sceneRotate $rotateSpeed infinite linear reverse;
}

@keyframes ballBounce{
    0%,100%{
        bottom: 0.5em;
    }
    25%{
        bottom: 3em;
        animation-timing-function: ease-in;
    }
}

@keyframes ballShadow{
    0%,25%,85%,100%{
       transform: scale(1);
       opacity: 1;
    }
    50%{
        transform: scale(2);
        animation-timing-function: ease-in;
        opacity: .5;
    }
}

.ballShadow{
    position: absolute;
    width: 100%;height: 100%;
    background: radial-gradient(
        #0007,#0000 50%
    );
    animation: ballShadow $bounceSpeed infinite ease-out,;
    transform-style: preserve-3d;
}

.cube{
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -1em;
    left: -1em;
    transform-style: preserve-3d;

    span{
        position: absolute;
        width: 100%;
        height: 100%;
        background:$boxColor;
        box-shadow: 0 0 0.5em #000a inset;
    }

    .front{
        transform: translateZ(1em);
    }

    .right{
        transform:rotateY(90deg) translateZ(1em);
    }

    .back{
        transform:rotateY(180deg) translateZ(1em);
    }
    
    .left{
        transform:rotateY(270deg) translateZ(1em);
    }

    .top{
        transform: translateY(-50%) rotateX(90deg);
    }

    .bottom{
        transform: translateY(50%) rotateX(90deg); 
        background: #0007;
        box-shadow: 0 0 0.5em #000 ;
    }


    animation: cubeHeight $bounceSpeed infinite ease-out;


}

@keyframes cubeHeight{
    0%,100%{
        height: 1.5em;
    }
    25%,85%{
        // bottom: 3em;
        height: 2em;
        animation-timing-function: ease-in;
    }
}

.floor{
    position: absolute;
    top: 1em;
    transform: 
        translate(-50%,-50%)
        rotateX(90deg);
    width: 15em;
    height: 15em;
    // background: repeating-conic-gradient(from 45deg, #333, 0deg 90deg,#444 90deg 180deg );
    background: 
    radial-gradient(#0000,#000 75%), 
    repeating-conic-gradient(
    from 45deg,
    #111 0deg 90deg,
    #222 90deg 180deg);
    background-size: 100%, 1em 1em;
    transform-style: preserve-3d;



}
