doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 3d Scene
        link(rel="stylesheet", href="./css/style.css")
    body 
        section.scene 
            .floor 
            .cube
                span.front 
                span.back  
                span.left
                span.right
                span.top
                    .ballShadow 
                span.bottom 
            .ball

        script(src="./js/main.js") 